{% extends "layout.html" %}
{% set active_page = 'about' %}

{% block content %}

<div class="bg-light">
    <div class="container">
            <div class="">
                <p class="py-3 display-4">
                    Comprehensive Wicket Keeping Guide
                </p>
                <p class="display-7">[ Duranz ]</p>
                <p class="display-7">

                    Drills for keeping:
                <ol>
                    <li>Fast Bowlers</li>
                    <li>Spinners</li>
                    <li>Catching knicks (on stumps vs back)</li>
                    <li>Dive</li>
                    <li>Stumping</li>
                    <li>Leg side take</li>
                    <li>Yorker takes</li>
                    <li>High Catches</li>
                    <li>Sideways movement / Footwork</li>
                    <li>Head Position</li>
                    <li>Hand Position</li>
                </ol>

                <p>Experienced in Working with data and creating APIs for Machine Learning Models.</p>
                Economics Graduate.

                </p>
                <p> Currently Living: Jaipur, Rajasthan.</p>
                <p>Work Experience:
                <ol>
                    <li class="list-items">Built End-to-End Data Science Projects.
                        <ul>
                            <li>Data Exploration</li>
                            <li>Exploratory Data Analysis</li>
                            <li>Feature Engineering</li>
                            <li>Model Creation</li>
                            <li>API creation with Flask</li>
                            <li>Model Deployment on Cloud</li>
                        </ul>

                    </li>
                    <li class="list-items">Web Scrapers</li>
                    <li class="list-items">Python Scripts for Automation</li>
                    <li class="list-items">Front-end Web Development with Bootstrap</li>
                    <li class="list-items">Python Code Review</li>
                </ol>
                </p>
            </div>
    </div>
</div>
{% endblock content %}