<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {% if title %}
      {{ title }}
    {% else %}
    Duranz
    {% endif %}
  </title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  <!-- Custom CSS -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
  </head>

<body>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('home') }}"><b>Duranz</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {{ 'active' if active_page == 'index' }}">
            <a class="nav-link" href="{{ url_for('home') }}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item {{ 'active' if active_page == 'project' }}">
            <a class="nav-link" href="{{ url_for('playerstats') }}">Player-Stats</a>
          </li>
          <li class="nav-item {{ 'active' if active_page == 'about' }}">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
      <div class="col-lg-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
  </div>
  {%  block content  %} {% endblock %}
  <footer class="py-1 container-fluid bg-dark fixed-bottom">
    <div class="row justify-content-center">
      <p class="m-0 p-0 text-center text-white">
        <a href="https://www.facebook.com/kunal.duran" class="fa" target="_blank"><img src="static\images\facebook.png" height="50px" alt="Facebook"></a>
        <a href="https://twitter.com/duran_kunal" class="fa" target="_blank"><img src="static\images\twitter.png" height="50px" alt="Twitter"></a>
        <a href="https://in.linkedin.com/in/kunal-duran-35126310a" class="fa" target="_blank"><img src="static\images\linkedin.png" height="50px" alt="Linkedin"></a>
        <a href="https://www.youtube.com/channel/UCkgRLEX6jFrYOGCLJEGK9nw" class="fa" target="_blank"><img src="static\images\youtube.png" height="50px" alt="YouTube"></a>
        <a href="mailto: kunalduran13@gmail.com" class="fa" target="_blank"><img src="static\images\gmail.png" height="50px" alt="Mail"></a>
        <a href="https://github.com/KunalDuran" class="fa" target="_blank"><img src="static\images\github.png" height="50px" alt="GitHub"></a>
      </p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>
