{% extends "layout.html" %}


{% block content %}
{% for a in article %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="" >Kunal Duran</a>
                <small class="text-muted">{{ a[-1] }}</small>
            </div>
            <h2 ><a class="article-title text-capitalize" href="{{ url_for('post', post_id=a[0]) }}">{{ a[1] }}</a></h2>
            <p  class="article-content" style="font-size:19px">{{ a[2] }}</p>
        </div>
    </article>
{% endfor %}
{% endblock %}
